<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e99d188784.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-2">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <%= link_to "Task", root_path, class: "navbar-brand text-dark" %>

        <div>
          <nav class="mb-2">
            <ul class="navbar-nav list-group-horizontal">
              <li class="nav-item"><%= link_to "About", "/about", class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "MyTask", "todos", class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "新規登録", "/users/sign_up", class: "btn btn-outline-secondary mr-3" %></li>
              <li class="nav-item"><%= link_to "ログイン", "/users/sign_in", class: "btn btn-outline-secondary mr-3" %></li>
            </ul>
          </nav>

          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
